#main {
    display: flex;
    height: 100vh;
}

#img-logo, #content {
    width: 50%;
    height: 100%;
}

#img-logo {
    background: url("/static/images/octopus_auto_x2.jpg");
    background-position: top right;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-body {
    width: 400px;
    text-align: center;
}
