#main {
    display: flex;
    height: 100vh;
    gap: .5em;
}

#img-logo, #content {
    height: 100%;
    width: 50%;
}

#img-logo {
    background-image: url('/static/images/octopus_grande.jpg');
    background-repeat: no-repeat;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-body {
    width: 450px;
    text-align: center;
}

.content-body h1 {
    font-size: 1.6em;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.85);
}

.content-body p {
    margin-bottom: 1em;
}

button.get-started {
    background-color: #4a71ff;
    color: white;
    border: 0;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}


/* Responsivo 1240px */

@media(max-width: 1240px) {
    #main {
        flex-direction: column;
        gap: 1.5rem; 
    }

    #img-logo {
        height: 600px;
        width: 100%;
        background-image: url('/static/images/octopus_medio.jpg');
        background-position: top left;
    }

    #content {
        width: 100%;
        height: max-content;
    }
}


/* Responsivo 475px */

@media(max-width: 475px) {
    #main {
        gap: 2em;
    }

    #img-logo {
        height: 290px;
        background-image: url('/static/images/octopus_pequeno.jpg');
    }
}
